<%= image_tag('cl.png', class: "cl") %><%= image_tag('cr.png', class: "cr pull-right") %>

<div class="brand">
	<%= image_tag('logo.png', class: "logo") %>
	<%= image_tag('titl.png', class: "brandName") %>
</div>

<div class="pageData">
	<%= image_tag('entry2.png', class: "entry img-responsive") %>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<div class="symbols">
		<%= image_tag('symbols/hindu.jpg', class: "h img-circle") %>
		<%= image_tag('symbols/islam.jpg', class: "i img-circle") %>
		<%= image_tag('symbols/christ.jpg', class: "c img-circle") %>
		<%= image_tag('symbols/khanda.jpg', class: "k img-circle") %>
		<%= image_tag('symbols/bhuddism.png', class: "b img-circle") %>
		<%= image_tag('symbols/zoroastrin.jpg', class: "z img-circle") %>
		<%= image_tag('symbols/jewish.png', class: "j img-circle") %>
	</div>
		<div class="feedback-button noselect">Find A Preist ..?</div>
		
	</div>
	<div class="col-md-6"></div>
</div>


